{%- liquid
  assign menu_title = menu_title | default: link.title | strip
  assign menu_title_upcase = menu_title | upcase

  assign is_shop_menu = false
  if menu_title_upcase == 'SHOP'
    assign is_shop_menu = true
  endif

  assign is_scents_menu = false
  if menu_title_upcase == 'SCENTS'
    assign is_scents_menu = true
  endif

  assign eyebrow_text = ''
  if is_shop_menu
    assign eyebrow_text = 'Shop by format'
  elsif is_scents_menu
    assign eyebrow_text = 'Explore our fragrance library'
  endif
-%}

<div
  id="MegaMenu-Content-{{ menu_index }}"
  class="navigation-submenu top mega-menu__content cbv-mega-menu motion-reduce global-settings-popup"
  tabindex="-1"
>
  <div class="cbv-mega-menu__inner">
    <div class="cbv-mega-menu__main">
      {%- if eyebrow_text != blank -%}
        <span class="cbv-mega-menu__eyebrow">{{ eyebrow_text }}</span>
      {%- endif -%}

      <ul class="cbv-mega-menu__columns {% if is_scents_menu %}cbv-mega-menu__columns--scents{% endif %}" role="list">
        {%- case menu_title_upcase -%}
          {%- when 'SHOP' -%}
            <li class="cbv-mega-menu__column animate-fade-up">
              <a href="#" class="heading-bold link">Candles</a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li>
                  <a href="#" class="mega-menu__link mega-menu__link--badge heading-bold" style="font-weight: 600; color: var(--cbv-orange);">
                    <span>Best Sellers</span> <span class="cbv-menu-badge cbv-menu-badge--highlight">HOT</span>
                  </a>
                </li>
                <li>
                  <span class="mega-menu__link--level-2">Shop by Size</span>
                  <ul class="cbv-spec-list list-unstyled" role="list">
                    <li>
                      <a href="#" class="mega-menu__link">
                        <span>15oz Wickless</span>
                        <span class="cbv-spec-meta">Flameless</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="mega-menu__link">
                        <span>18oz Large</span>
                        <span class="cbv-spec-meta">{% render 'icon-fire-small' %} 1-Wick</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="mega-menu__link">
                        <span>30oz Victorian</span>
                        <span class="cbv-spec-meta">{% render 'icon-fire-small' %} 3-Wick</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="mega-menu__link">
                        <span>70oz 5-Wick</span>
                        <span class="cbv-spec-meta">{% render 'icon-fire-small' %} 5-Wick</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li><a href="#" class="mega-menu__link">Custom Pour</a></li>
                <li><a href="#" class="mega-menu__link mega-menu__link--badge"><span>Seasonal Collection</span> <span class="cbv-menu-badge">NEW</span></a></li>
                <li><a href="#" class="mega-menu__link">Limited Drops</a></li>
              </ul>
            </li>
            <li class="cbv-mega-menu__column animate-fade-up">
              <a href="#" class="heading-bold link">Wax Melts</a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link">Break-Away Melts</a></li>
                <li><a href="#" class="mega-menu__link">Cube Melts</a></li>
                <li><a href="#" class="mega-menu__link">Create Your Own</a></li>
              </ul>
            </li>
            <li class="cbv-mega-menu__column animate-fade-up">
              <a href="#" class="heading-bold link">Scent Shots</a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link">Shop All</a></li>
                <li><a href="#" class="mega-menu__link">3-Pack Bundle</a></li>
                <li><a href="#" class="mega-menu__link">6-Pack Bundle</a></li>
                <li><a href="#" class="mega-menu__link">Custom Pack</a></li>
              </ul>
            </li>
            <li class="cbv-mega-menu__column animate-fade-up">
              <a href="#" class="heading-bold link">Bundles</a>
              <ul class="cbv-mega-menu__sublist list-unstyled" role="list">
                <li><a href="#" class="mega-menu__link">Sampler Packs</a></li>
                <li><a href="#" class="mega-menu__link">Build Your Own Scent Shot Pack</a></li>
                <li><a href="#" class="mega-menu__link">Build Your Own Melt Pack</a></li>
                <li><a href="#" class="mega-menu__link">Category Boxes</a></li>
                <li><a href="#" class="mega-menu__link">Gift Cards</a></li>
              </ul>
            </li>

          {%- when 'SCENTS' -%}
            {%- assign scent_links = 'Bakery/Gourmand|Christmas|Clean|Customer Creations|Earthy|Fall|Floral|Fruity|House Blends|Lush Dupes|Luxury Spa|Perfume & Cologne|Tropical|All Scents (A–Z)|Search All Scents' | split: '|' -%}
            {%- for scent_link in scent_links -%}
              <li class="cbv-mega-menu__scent-item animate-fade-up">
                <a href="#" class="cbv-mega-menu__scent-tile">
                  {{ scent_link }}
                </a>
              </li>
            {%- endfor -%}
        {%- endcase -%}
      </ul>
    </div>
  </div>
</div>