/* Hide the loader if JavaScript is disabled */
.page-loader,
noscript.header-localization-form button {
    display: none;
  }

html.no-js .quick-add-position-overlay.no-js-hidden {
  display: flex!important;
}
  
[data-aos] {
  opacity: 1 !important;
  transform: none !important;
}

.tooltips-section .tooltips-list {
  display: none !important;
}

.on-scroll-animation .simple-collections-grid-wrapper .media img,
.on-scroll-animation .promotion-cards-media img,
.on-scroll-animation .card .media.media--hover-effect > img:only-child,
.on-scroll-animation .card-wrapper .media.media--hover-effect > img:only-child,
.on-scroll-animation .article-card-image img,
.on-scroll-animation .banner-two-columns .banner-media img {
  scale: 1 !important;
  opacity: 1 !important;
}

.on-scroll-animation .card-media .media img {
  scale: 1 !important;
  opacity: 1 !important;
}

.on-scroll-animation .two-images-text-wrapper .grid-item img,
.on-scroll-animation .multicolumn-card-image-wrapper img,
.on-scroll-animation .testimonials-media img,
.on-scroll-animation .image-with-text-media img,
.on-scroll-animation .newsletter-layout .banner-media img,
.on-scroll-animation .collapsible-content-media img,
.on-scroll-animation .image-hotspots img.tooltips-img,
.on-scroll-animation .comparison-slider img,
.on-scroll-animation .image-gallery img {
  scale: 1 !important;
  opacity: 1 !important;
}

.on-scroll-animation .collection-hero-cover .banner-media img.visible,
.on-scroll-animation .collection-hero-cover .banner-media img,
a.header__heading-link img.visible,
a.header__heading-link img {
  scale: 1 !important;
  opacity: 1 !important;
}

button.facets__button-no-js.button.button--secondary {
  border: 1px solid rgba(var(--color-base-border-1));
  border-radius: var(--media-radius);
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 400;
  min-height: max-content;
  margin-top: 13px;
  margin-right: 10px;
  line-height: 1.5;
} 

.enable-fixed-header-part--true.enable-header-full-width--false {
  max-width: calc(var(--page-width) - 10rem); 
  width: 98%;
  left: 0;
  right: 0;
  transition: max-width .5s ease-in-out, width .5s ease-in-out;
}

.sticky-images-with-text .banner {
    transform: translateX(0%)!important;
}

slick-slider li {
  visibility: visible!important;
}

.slick-image {
  clip: rect(0, 100rem, 50rem, 0)!important;
}

.slick-content h2 {
  transform: translateY(0)!important;
  opacity: 1!important;
}

.slick-content a {
  opacity: 1!important;
  transform: translateY(0)!important;
}

.slick-caption {
  opacity: 1!important;
  transform: translateX(0)!important;
}