.collapsible-content {
  position: relative;
  z-index: 0;
}

.collapsible-content-wrapper .page-width {
  padding: 0;
}

.collapsible-content-container {
  max-width: 990px;
  margin: 0 auto;
}

.collapsible-content--style_two .collapsible-content-container {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}

.collapsible-content-header {
  word-break: break-word;
}

.collapsible-content-heading {
  margin-bottom: 2rem;
  margin-top: .5rem;
}

.accordion__content.rte {
  font-size: calc(var(--font-body-scale) * 1.6rem);
}

.collapsible-row-layout .accordion {
  border: var(--text-boxes-border-width) solid rgba(var(--color-foreground),var(--text-boxes-border-opacity));
  margin-bottom: 1.5rem;
}

.collapsible-row-layout .accordion summary,
.collapsible-row-layout .accordion .accordion__content {
  padding: 1.5rem;
}

.collapsible-row-layout .accordion .accordion__content {
  padding-top: 0;
}

.collapsible-content summary .accordion__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(var(--color-base-background-accent-1), 0.4);
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.collapsible-content summary:hover .accordion__title::after {
  width: 100%;
  left: 0;
  padding-top: 6px;
}

.collapsible-content .image-with-text-text--caption {
  background-color: rgb(var(--color-base-background-accent-1));
  color: rgb(var(--color-base-accent-1));
  padding: 5px 15px;
  border-radius: 3px;
  display: inline;
}

@media screen and (min-width: 750px) {
  .collapsible-content-heading {
    margin-bottom: 3rem;
  }
  
  .collapsible-content .accordion {
    margin-top: 0;
  }
}

@media screen and (max-width: 990px) {
  .collapsible-content-container {
    padding: 20px;
  }
}

