.rte:after {
  clear: both;
  content: '';
  display: block;
}

.rte > p:first-child {
  margin-top: 0;
}

.rte > p:last-child {
  margin-bottom: 0;
}

.rte table {
  table-layout: fixed;
}

.rte img {
  height: auto;
  max-width: 100%;
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
  margin-bottom: var(--media-shadow-vertical-offset);
}

.rte ul,
.rte ol {
  list-style-position: outside;
  padding-left: 2rem;
}

.rte li {
  list-style: inherit;
}

.rte li:last-child {
  margin-bottom: 0;
}

.rte a {
  position: relative;
  text-decoration: none;
  text-decoration: none;
  text-align: left;
}

.rte a::after {
  content: '';
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(var(--color-base-background-accent-1), 0.4);
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.rte a:hover::after{
  width: 0;
  left: 50%;
  padding-top: 3px;
}

.footer .rte a::after {
  content: '';
  left: 50%;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(var(--color-base-background-accent-1), 0.4);
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.footer .rte a:hover::after{
  width: 100%;
  left: 0;
  padding-top: 3px;
}

.rte blockquote {
  display: inline-flex;
}

.rte blockquote > * {
  margin: -0.5rem 0 -0.5rem 0;
}

@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}