.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2,
.totals > span.totals-subtotal {
  font-family: var(--font-body-family);
  font-size: calc(var(--font-heading-scale) * 1.4rem);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.totals > span.totals-subtotal {
  font-weight: var(--font-heading-weight);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals-subtotal-value {
  font-size: 1.8rem;
  font-weight: 600;
}

.cart-ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    border-bottom: .1rem solid rgb(var(--color-base-border-1));
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 1rem;
  }
}

@media all and (max-width: 990px) {
  .totals {
    justify-content: space-between;
    align-items: center;
  }
  .free-shipping-message p {
    padding: 5px;
  }
}
