slider-component {
  position: relative;
  display: block;
}

.collection slider-component {
    --desktop-margin-left-first-item: 0;
}

slider-component.slider-component-full-width {
  --desktop-margin-left-first-item: 1.5rem;
}

.slider-slide {
  --focus-outline-padding: 0.5rem;
  --shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
  --shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}

.slider--everywhere {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}


.slider.slider--everywhere .slider-slide {
  margin-bottom: 0;
  scroll-snap-align: center;
}

.complementary-products .slider.slider--everywhere .slider-slide {
  scroll-snap-align: start;
}

.slider-no-padding.page-width {
  padding: 0;
}

.default-slider {
  overflow-x: hidden;
}

@media (prefers-reduced-motion) {
  .slider {
    scroll-behavior: auto;
  }
}

/* Scrollbar */

.slider {
  scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  border-radius: 0.4rem;
  border: 0;
}

.slider::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.04);
  border-radius: 0.4rem;
}

.slider-counter {
  display: none;
}

.slider-counter.slider-counter--lines {
  display: flex;
  justify-content: center;
  min-width: 4.4rem;
}

.slider-counter-link {
  padding: 1rem;
}

.slider-counter-link--lines .dot {
  width: 5rem;
  height: .3rem;
  border-bottom: 0.2rem solid rgba(var(--color-foreground), 0.5);
  padding: 0;
  display: block;
}

.slider-counter-link--active.slider-counter-link--lines .dot {
  background-color: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .slider-counter-link--active.slider-counter-link--lines .dot {
    background-color: CanvasText;
  }
}

.slider-counter-link--lines:not(.slider-counter-link--active):hover .dot {
  border-color: rgb(var(--color-foreground));
}

.slider-counter-link--lines .dot,
.slider-counter-link--numbers {
  transition: transform 0.2s ease-in-out;
}

.slider-counter-link--active.slider-counter-link--numbers,
.slider-counter-link--lines:not(.slider-counter-link--active):hover .dot,
.slider-counter-link--numbers:hover {
  transform: scale(1.1);
}

.slider-counter-link--numbers {
  color: rgba(var(--color-foreground), 0.5);
  text-decoration: none;
}

.slider-counter-link--numbers:hover {
  color: rgb(var(--color-foreground));
}

.slider-counter-link--active.slider-counter-link--numbers {
  text-decoration: underline;
  color: rgb(var(--color-foreground));
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.icon.icon-slider-arrows {
  color: rgb(var(--color-foreground));
  width: 34px;
}

.testimonial-section svg.icon.icon-slider-arrows {
  color: rgb(var(--color-foreground));
}

.testimonial-section .slider-button[disabled] .icon {
  color: rgba(var(--color-foreground),.3);
}

.image-banner-with-featured-collection .collection svg.icon.icon-slider-arrows {
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  border-radius: 50%;
}

.image-banner-with-featured-collection .slider-buttons {
  background: transparent;
}

.slideshow-controls--border-radius-mobile {
  border-bottom: 1px solid rgba(var(--color-base-border-1));
  border-top: 1px solid rgba(var(--color-base-border-1));
}

.testimonial-section .slider-buttons,
.multicolumn .slider-buttons,
.promotion-cards-section .slider-buttons{
  justify-content: left;
}

.testimonial-section .slider-buttons{
 margin-left: -.6rem;
}

@media screen and (max-width: 990px) {
  .testimonial-section .slider-buttons,
  .multicolumn .slider-buttons,
  .promotion-cards-section .slider-buttons{
    margin-left: -.6rem;
  }
}

.collection .slider-buttons {
  justify-content: flex-start;
  margin-left: -.6rem;
  margin-bottom: .5rem;
}

.image-banner-with-featured-collection .collection .slider-buttons {
  margin-left: .6rem;
}

.image-banner-with-featured-collection .collection .slider-button {
  color: rgba(var(--color-foreground));
  background: rgba(var(--color-background),.5);
  border: 2px solid rgb(var(--color-background));
  border-radius: 100%;
  box-shadow: #000 0 6px 10px -10px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.collection .slider-button {
  background: none;
  border: none;
  box-shadow: none;
}

.collection .slider-button,
.testimonial-section .slider-button,
.multicolumn .slider-button,
.promotion-cards-section .slider-button,
.blog .slider-button {
  width: 34px;
  height: 34px;
}

button.slider-button.slider-button--prev {
    margin-right: 5px;
}

.collection button.slider-button.slider-button--prev,
.testimonial-section button.slider-button.slider-button--prev,
.multicolumn button.slider-button.slider-button--prev,
.promotion-cards-section button.slider-button.slider-button--prev,
.blog button.slider-button.slider-button--prev{
    margin-left: -6px;
}

.slider-button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

.slider-button[disabled] .icon {
  color: rgba(var(--color-foreground), 0.3);
  cursor: pointer;
}

.slider-button .icon-caret {
  height: 0.6rem;
}

.slider-button--next .icon-caret {
  transform: rotate(-90deg);
  transition: all .3s ease;
}

.slider-button--prev .icon-caret {
  transform: rotate(90deg);
  transition: all .3s ease;
}

.slider-button--next:not([disabled]):hover .icon-caret {
  transform: rotate(-90deg) scale(1.1);
}

.slider-button--prev:not([disabled]):hover .icon-caret {
  transform: rotate(90deg) scale(1.1);
}

.slider-button--prev .icon-slider-arrows {
  transform: rotate(180deg);
  transition: all .3s ease;
}

.slider-button--next .icon-slider-arrows {
  transition: all .3s ease;
}

.slider-button--next:not([disabled]):hover .icon-slider-arrows {
  transform: scale(1.1);
}

.slider-button--prev:not([disabled]):hover .icon-slider-arrows {
  transform: rotate(180deg) scale(1.1);
}

p.image-with-text-text--caption {
  margin-bottom: 0;
}

.media-type-external_video .deferred-media-poster {
  border-radius: calc(var(--media-radius));
}

@media screen and (min-width: 990px) {
  .product--slide #product-gallery .slider.slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 0;
    margin-bottom: 1rem;
  }

  .product.product--slide #product-gallery .slider:not(.slider--everywhere):not(.slider--desktop)+.slider-buttons {
     display: flex;
  }

  .product.product--slide .product-media-wrapper .slider-mobile-gutter .slider-button {
    display: flex;
  }

  .product.product--slide #product-gallery .product-media-item.grid-item {
    width: 100%;
  }
  
  /* Position slider buttons over the images */
  .product--slide #product-gallery .slider-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10; /* Ensure it stays above images */
  }
  
  /* Ensure buttons are styled correctly */
  .product--slide #product-gallery .slider-button {
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: background 0.3s ease-in-out;
  }
  
  .product--slide #product-gallery .slider-button:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
  /* Show buttons only on hover */
  .product--slide media-gallery:hover .slider-buttons {
    opacity: 1;
    pointer-events: auto;
  }
  
  /* Ensure the slider component is positioned relative */
  .product--slide #product-gallery slider-component {
    position: relative;
  }
  
  /* Adjust button positioning for better alignment */
  .product--slide #product-gallery .slider-button--prev {
    position: absolute;
    left: 2rem;
  }
  
  .product--slide #product-gallery .slider-button--next {
    position: absolute;
    right: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .product--slide #product-gallery slider-component {
    margin-right: 0;
  }
}

@media screen and (max-width: 990px) {
  slider-component.page-width {
    padding: 0 1.5rem;
  }

  .slider-no-padding.page-width,
  slider-component {
    margin-right: -1.5rem;
    padding: 0;
  }

  slider-component.placeholder-image.slider-no-padding.page-width {
    margin-right: 0;
  }

  .slider-counter-link {
    padding: 0.7rem;
  }

  .slider.slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 0;
    margin-bottom: 1rem;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--mobile:after {
    content: "";
    width: 0;
    padding-left: 1.5rem;
  }

  .slider.slider--mobile .slider-slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .slider.slider--mobile.contains-card--standard .slider-slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--mobile.contains-content-container .slider-slide {
    --focus-outline-padding: 0rem;
  }

  .slideshow-controls--border-radius-mobile {
    padding: 10px;
  }

  .slider-button,
  .collection .slider-button,
  .testimonial-section .slider-button,
  .multicolumn .slider-button,
  .promotion-cards-section .slider-button,
  .blog .slider-button {
    width: 34px;
    height: 34px;
  }

  .disable-slider-arrows-true.slider-buttons {
    display: none;
  }

}


@media screen and (min-width: 990px) {
  .slider-counter--lines {
    margin: 0 1.2rem;
  }

  .slider.slider--tablet-up {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .slider.slider--tablet-up .slider-slide {
    margin-bottom: 0;
  }
  
  .collection .slider-buttons {
    justify-content: flex-end;
    margin-left: 0;
  }

  .cart-page .cross-sell .collection .slider-buttons {
    margin-right: -10px;
  }
}


@media screen and (min-width: 990px) {
  .slider-buttons.control-line {
    position: absolute;
    border: none;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .slider-style-modern .slider-buttons.control-line {
    bottom: 0;
    left: 0;
    right: auto;
  }
  
  .slider-counter-link--lines .dot,
  .slideshow-controls--top .slider-counter-link--lines .dot {
    border-bottom: 0.2rem solid rgba(var(--color-background), 0.5);
  }
  
  .slider-counter-link--active.slider-counter-link--lines .dot,
  .slideshow-controls--top .slider-counter-link--active.slider-counter-link--lines .dot {
    background-color: rgb(var(--color-background));
  }

  .slider-counter-link--lines:not(.slider-counter-link--active):hover .dot,
  .slideshow-controls--top .slider-counter-link--lines:not(.slider-counter-link--active):hover .dot {
    border-color: rgb(var(--color-background));
  }
  
  .hide-prev-next {
    display: none;
  }
  
  .slider-button--next .icon-caret,
  .slider-button--prev .icon-caret{
    color: rgb(var(--color-background));
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (max-width: 989px) {
  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }

  .slider--desktop:not(.slider--tablet) + .slider-buttons {
    display: none;
  }

  .slider-buttons-mobile-hide .slider-buttons {
    display: none;
  }

  .slider.slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--tablet:after {
    content: "";
    width: 0;
    padding-left: 1.5rem;
    margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
  }

  .slider.slider--tablet .slider-slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .slider.slider--tablet.contains-card--standard .slider-slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--tablet.contains-content-container .slider-slide {
    --focus-outline-padding: 0rem;
  }

  .hide-prev-next {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
    display: none;
  }

  .slider-buttons-desktop-hide .slider-buttons {
    display: none;
  }

  .slider--desktop {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    scroll-padding-left: var(--desktop-margin-left-first-item);
  }

  .collection-two .slider--desktop {
    padding-top: 20px;
  }

  .cart-page .cross-sell .collection-two .slider--desktop {
    padding-top: 0;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--desktop:after {
    content: "";
    width: 0;
  }

  .slider.slider--desktop .slider-slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .slider--desktop .slider-slide:first-child {
    scroll-margin-left: var(--desktop-margin-left-first-item);
  }

  .slider-component-full-width .slider--desktop {
    scroll-padding-left: 1.5rem;
  }

  .collection.collection--full-width.page-width  .slider-component-full-width .slider--desktop {
    scroll-padding-left: 0;
  }

  .slider-component-full-width .slider--desktop .slider-slide:first-child {
    margin-left: 1.5rem;
    scroll-margin-left: 1.5rem;
  }

  .collection.collection--full-width.page-width .slider-component-full-width .slider--desktop .slider-slide:first-child {
    margin-left: 0;
    scroll-margin-left: 0;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider-component-full-width .slider--desktop:after {
    padding-left: 1.5rem;
  }

  .slider.slider--desktop.contains-card--standard .slider-slide:not(.collection-list__item--no-media) {
    padding-bottom: 20px;
  }

  .slider.slider--desktop.contains-content-container .slider-slide {
    --focus-outline-padding: 0rem;
  }
}
