.deferred-media-poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.media > .deferred-media-poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deferred-media-poster img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

.deferred-media {
  overflow: hidden;
}

.deferred-media:not([loaded]) template {
  z-index: -1;
}

.deferred-media[loaded] > .deferred-media-poster {
  display: none;
}

.deferred-media-poster:focus-visible {
  outline: none;
  box-shadow: 0 0 0 var(--media-border-width) rgba(var(--color-foreground), var(--media-border-opacity)), 0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-background)),0 0 0 calc(var(--media-border-width) + 0.5rem) rgba(var(--color-foreground),.5);
  border-radius: var(--media-radius);
}

.deferred-media-poster:focus {
  outline: none;
  box-shadow: 0 0 0 var(--media-border-width) rgba(var(--color-foreground), var(--media-border-opacity)), 0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-background)),0 0 0 calc(var(--media-border-width) + 0.5rem) rgba(var(--color-foreground),.5);
  border-radius: var(--media-radius);
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
  .deferred-media-poster:focus {
    outline: transparent solid 1px;
  }
}
.deferred-media-poster:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.deferred-media-poster-button {
  background-color: rgba(var(--color-background),.4);
  box-shadow: #000 0 8px 20px -10px;
  border-radius: 50%;
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.2rem;
  width: 6.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-short) ease, color var(--duration-short) ease;
  z-index: 1;
}

.deferred-media-poster-button:hover {
  background-color: rgb(var(--color-background));
  transform: translate(-50%, -50%) scale(1.1);
}

.deferred-media-poster-button .icon {
  width: 2rem;
  height: 2rem;
}

.deferred-media-poster-button .icon-play {
  margin-left: 0.2rem;
  width: 4rem;
  height: 4rem;
}

