.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-item-quantity-wrapper {
  display: flex;
}

.cart-item-totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
  white-space: nowrap;
}

.cart-item-image-container {
  display: inline-flex;
  align-items: flex-start;
}

.cart-item-image-container:after {
  content: none;
}

.cart-item-image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow),var(--shadow-opacity));
}

.cart-item-details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.cart-item-details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item-details > * + * {
  margin-top: 0.6rem;
}

.cart-item-media {
  position: relative;
}

.cart-item-link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item-name {
  text-decoration: none;
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all .4s ease, text-decoration 0s ease;
}

.cart-item-name:hover {
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 100%;
}

.cart-item-price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item-discounted-prices dd {
  margin: 0;
}

.cart-item-discounted-prices .cart-item-old-price {
  font-size: 1.4rem;
}

.cart-item-old-price {
  opacity: 0.7;
}

.cart-item-final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  word-break: break-all;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.cart-item cart-remove-button {
  display: flex;
  margin-left: 1rem;
}

cart-remove-button .button {
  min-width: calc(4.5rem / var(--font-body-scale));
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

cart-remove-button .button:before,
cart-remove-button .button:after  {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

cart-remove-button .icon-remove {
  color: rgb(var(--color-foreground));
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

.cart-item .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item-error {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.cart-item-error-text {
  font-size: 1.2rem;
  order: 1;
}

.cart-item-error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item-error-text:empty + svg {
  display: none;
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-items thead th {
  font-weight: bold;
  text-transform: uppercase;
}

.cart-item-error-text + svg {
  margin-top: 0.4rem;
}

.title-wrapper-with-link a {
  color: rgb(var(--color-link));
  font-size: 1.4rem;
  text-decoration: none;
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all .4s ease, text-decoration 0s ease;
}
  
.title-wrapper-with-link a:hover {
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 100%;
}

.cart-items .caption {
  letter-spacing: 0;
  font-size: 10px;
}

.cart-drawer .card-information .card-heading, 
.terms-cart p {
  font-size: calc(var(--font-heading-scale)* 1.3rem);
}

.terms-cart {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgb(var(--color-base-border-1));
    margin-bottom: 4rem;
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item-media {
    grid-row: 1 / 3;
  }

  .cart-item-details {
    grid-column: 2 / 4;
  }

  .cart-item-quantity {
    grid-column: 1 / 5;
  }

  .cart-item .quantity {
    flex: 6;
  }

  .cart-item cart-remove-button {
    margin-left: 5px;
    border-left: 0;
    flex: 0;
  }

  .cart-item-quantity-wrapper {
    flex-wrap: wrap;
  }

  .cart-item-totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }

  .cart-item .loading-overlay {
    right: 0;
    padding-top: 4.5rem;
    bottom: auto;
  }

  .cart-item-image {
    max-width: 100%;
  }

  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .featured-collection.collection-two.collection.cart-items {
    display: block;
  }

  #main-cart-items .cart-items .caption-with-letter-spacing {
    font-size: 1.1rem;
  }

  #main-cart-items .cart-item-name {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
  }

  #main-cart-items .product-option {
    font-size: 1.6rem;
  }

  #main-cart-items .cart-items .price{
    font-size: 1.4rem;
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items th + th {
    padding-left: 1rem;
  }

  .cart-items td {
    padding-top: 3rem;
  }

  .cart-page .cart-items td {
    border-bottom: .1rem solid rgb(var(--color-base-border-1));
  }

  .cart__items .collection {
    padding-top: 1rem;
  }

  .cart__items .collection .slider-buttons {
    margin-right: -10px;
  }

  td.cart-item-totals {
    padding-top: 10px;
  } 

  #main-cart-items .cart-items tr:last-child td {
    padding-bottom: 2rem;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 1rem;
  }

  .cart-item-details {
    width: 35rem;
  }

  .cart-item-media {
    width: 15rem;
  }

  .cart-item cart-remove-button {
    margin: 0 0 0 .5rem;
  }

  .cart-item-price-wrapper > *:only-child:not(.cart-item-discounted-prices) {
    margin-top: 1rem;
  }
}

@media (min-width: 750px) and (max-width: 1260px) {
  .shopify-section.cart__items-wrapper .cart-item-media {
    width: 40rem;
  }
  #main-cart-items .cart-item-name {
    font-size: calc(var(--font-heading-scale)* 1.4rem);
  }
  #main-cart-items .product-option, #main-cart-items .cart-items .price {
    font-size: 1.4rem;
  }
}


@media screen and (min-width: 990px) {
  .cart-item .cart-item-quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 6rem;
  }

  .cart-item-details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}