.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form-message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form-message--success {
  margin-top: 2rem;
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

.newsletter-banner-box {
  padding: 2.5rem;
}

.newsletter-form__button[disabled] {
  cursor: not-allowed;
}

@media screen and (max-width: 990px) {
  .newsletter-form {
    padding: 1rem;
  }
  .footer-block__newsletter .newsletter-form {
    padding: 1rem 0;
  }
  .popup-style-2.subscribe-modal > img, 
  .popup-style-3.subscribe-modal > img {
    width: 100%;
  }
  .popup-style-3.subscribe-modal>img {
    border-top-right-radius: 0;
  }
  .newsletter-form__button {
    height: 100%;
  }
  .newsletter-form .field-input:focus~.field-label {
    top: calc(var(--inputs-border-width) + 2rem);
  }
}

@media screen and (min-width: 750px) {
  .newsletter-banner-box {
    max-width: 72rem;
  }
}