.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-base-opacity), 0); /* Start with 0 opacity */
  transition: background-color 0.4s ease-in-out, visibility 0.4s ease-in-out;
  visibility: hidden; /* Hide the drawer initially */
}

.drawer.active {
  background-color: rgba(var(--color-base-opacity), 0.5); /* Transition to 50% opacity */
  visibility: visible;
}

.drawer-inner {
  height: 100dvh;
  width: 50rem;
  max-width: calc(100vw - 3rem);
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.cart-drawer .cart-items {
  padding: 0 1.5rem;
}

.drawer-inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer-warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer-inner {
  padding: 0;
}

cart-drawer.is-empty .drawer-header {
  display: none;
}

cart-drawer.is-empty .drawer-close {
  top: 0;
}

cart-drawer:not(.is-empty) .cart-drawer-warnings,
cart-drawer:not(.is-empty) .cart-drawer-collection {
  display: none;
}

.cart-drawer-warnings--has-collection .cart-login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer-inner {
  transform: translateX(0);
}

.drawer-header {
  position: relative;
  background-color: rgb(var(--color-background));
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-heading {
  margin: 0 0 1rem;
}

.drawer-close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer-warnings .drawer-close {
  right: 5px;
}

.drawer-close svg {
  height: 1.4rem;
  width: 1.4rem;
}

.drawer-contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer-footer {
  border-top: 0.1rem solid rgb(var(--color-base-border-1));
  padding: 1.5rem;
}

cart-drawer-items.is-empty + .drawer-footer {
  display: none;
}

.drawer-footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgb(var(--color-base-border-1), 0.2);
}

.drawer-footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer-footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer-footer > details + .cart-drawer-footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer-overlay:empty {
  display: block;
}

.cart-drawer-form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer-collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer-cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-background));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2,auto) / repeat(4,1fr);
  gap: 1.5rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item-media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item-image {
  max-width: 100%;
  border-radius: var(--media-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow),var(--shadow-opacity));
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 2rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item-details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item-totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item-price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item-price-wrapper .cart-item-discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item-quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

.cart-drawer-footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
  padding-top: 2rem;
}

.cart-drawer  summary .icon-caret {
  right: 0;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart-checkout-button {
  max-width: none;
}

.drawer-footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer-footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer-footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer-footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer-footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.drawer .quantity {
  min-height: calc((var(--inputs-border-width) * 2) + 2.5rem);
}

.drawer .promo-message {
  background: rgb(var(--color-base-accent-2));
  color: rgb(var(--color-base-text-accent-2));
  font-size: calc(var(--font-body-scale)* 1.2rem);
  text-align: center;
}

.drawer .free-shipping-message {
  font-size: calc(var(--font-body-scale)* 1.3rem);
  border-bottom: 0.1rem solid rgb(var(--color-base-border-1));
}

.drawer .empty-cart-message {
  font-size: calc(var(--font-body-scale)* 1.6rem);
}

.drawer .free-shipping-message p {
  margin: 0;
}

.cross-title {
  font-size: calc(var(--font-body-scale)* 1.3rem);
}

.drawer-collection.grid {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 1rem;
}

.cross-title.cart-items {
  padding: 0;
  width: auto;
}

.cart-drawer .collection-two .slider--desktop {
  padding-top: 0;
}

.cart-drawer .card-information .card-heading,
.terms-cart p {
  font-size: calc(var(--font-heading-scale)* 1.3rem);
}

.terms-cart {
  display: flex;
  align-items: center;
}

.cart-drawer .price {
  font-size: 1.4rem;
}

.cart-drawer .product-option {
  font-size: 1.2rem;
}

.cart-drawer .card-information:first-child {
  padding: 0 1rem;
}

.cart-drawer .quick-add svg.icon.icon-eye,
.cart-drawer .quick-add svg.icon.icon-sold-out, 
.cart-drawer .quick-add svg.icon.icon-plus,
.cart-drawer .quick-add svg.icon.icon-list {
  width: 2.8rem;
  height: 2.8rem;
}

.cart-drawer .card-information .card-heading {
  margin-top: 1rem;
}

.cart-drawer .collection-content .quick-add.quick-add-position-default {
  margin: -15px 30px 0;
}

.cart-drawer .cart-collection {
  padding-top: 1rem;
  background: rgb(var(--color-base-accent-2));
}

.cart-drawer .collection .price {
    font-size: 1.2rem;
}

.cart-drawer .collection .card-badge.right {
  margin-right: 0;
}

.cart-drawer .collection .product-card-wrapper.onboarding svg {
  background: #fff;
}

.cart-drawer .custom-badge{
  margin-left: 0;
}

.cart-drawer .badge,
.cart-drawer .custom-badge{
  padding: .3rem;
}

.amount-bold {
  font-weight: 600;
}

.cart-drawer .custom-dropdown {
  border: none;
  border-radius: 0;
}

.cart-drawer .dropdown-header {
  padding: 0;
}

.cart-drawer .dropdown-header .summary-title {
  justify-content: space-between;
  width: 100%;
}

.cart-drawer .field-input:focus-visible {
  box-shadow: none;
  border: 2px solid rgba(var(--color-base-border-1));
}

.cart-drawer input[type=checkbox] {
  margin-left: 0;
}

.cart-drawer .button:not([disabled]).button--secondary:hover, 
.cart-drawer .button.button--secondary:hover {
  box-shadow: none;
  padding: 0 25px;
}

.cart-drawer-quick-view .quick-add-modal[open] {
  z-index: 9999;
}

.cart-drawer .collection-content {
  display: block;
  padding: 0;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer-inner {
    overflow: scroll;
  }
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

@media screen and (min-width: 750px) {
  .drawer-footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer-footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer-footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer-footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer-footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
}
