.disclosure {
  position: relative;
  display: inline-block;
}

.menu-drawer .disclosure,
.footer .disclosure,
.announcement-bar .disclosure{
  margin-left: 0;
  border-left: none;
}

.announcement-bar.position-right .disclosure {
  margin-left: 2rem;
  border-left: 1px solid rgba(0,0,0,.1);
}

.announcement-bar.position-left .disclosure{
  margin-right: 2rem;
  border-right: 1px solid rgba(0,0,0,.1);
}

.disclosure__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  background-color: transparent;
}

.disclosure__list-wrapper {
  border-width: var(--popup-border-width);
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  transform: translateY(0rem);
  z-index: 4;
  background-color: rgb(var(--color-background));
  border-radius: var(--popup-corner-radius);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.header-localization-form .disclosure__list-wrapper {
  top: 300%;
  left: -20px;
  bottom: auto;
}

.header .disclosure__list-wrapper .flag-image {
  padding-right: 10px;
  margin-top: -3px;
}

.announcement-bar .disclosure__list-wrapper {
  border: none;
  overflow: hidden;
  position: absolute;
  bottom: auto;
  transform: translateY(-.5rem);
  background-color: #fff;
  border: solid 0.1rem rgba(var(--color-foreground), 0.08);
  border-radius: var(--popup-corner-radius);
  box-shadow: 0 0 20px #00000017;
}

.announcement-bar .localization-selector + .disclosure__list-wrapper {
  margin-left: -3rem;
  margin-top: 1.3rem;
}

.disclosure__list {
  position: relative;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  scroll-padding: 0.5rem 0;
  min-height: 8.2rem;
  max-height: 17rem;
  max-width: 22rem;
  min-width: 10rem;
  width: max-content;
}

.disclosure__item {
  position: relative;
}

.disclosure__link {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.0rem;
  text-decoration: none;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}

.disclosure__list-wrapper .link{
  font-size: 1.2rem;
}