quick-order-list {
  display: block;
}

quick-order-list .quantity {
  width: calc(11rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
  min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
}

quick-order-list .quantity__button {
  width: calc(1.5rem / var(--font-body-scale));
}

.quick-order-list__container {
  padding-bottom: 2rem;
}

.quick-order-list__container--disabled {
  pointer-events: none;
}

.quick-order-list__total {
  padding-top: 0;
}

.variant-item__quantity .quantity:before {
  z-index: 0;
}

.variant-item__quantity .quantity__button {
  z-index: 1;
}

.variant-item__quantity .quantity:before {
  z-index: 0;
}

.variant-item__quantity .quantity__button {
  z-index: 1;
}

.quick-order-list__total {
  background: rgb(var(--color-base-accent-2));
  color: rgb(var(--color-base-text-accent-2));
  border-radius: var(--media-radius);
  padding: 2rem;
}


@media screen and (min-width: 990px) {
  quick-order-list#quick-order-list {
    display: flex;
    margin-top: -50px;
    border-radius: 13px;
    max-width: 1200px;
    padding: 3rem;
  }
  form#QuickOrderList {
    padding-right: 3rem;
    width: 80%;
  }
  .quick-order-list__total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
  }
  .quick-order-list__total .button {
    color: rgb(var(--color-base-text-accent-2));
  }
  .variant-item__quantity-wrapper--no-info,
  .variant-item__error {
    padding-left: calc(15px + 3.4rem);
  }

  .variant-item__error {
    margin-left: 0.3rem;
  }

  .variant-item--unit-price .variant-item__totals {
    vertical-align: top;
  }

  .variant-item--unit-price .variant-item__totals .loading__spinner {
    padding-top: 1.7rem;
  }
}

.quick-order-list__table td,
.quick-order-list__table th {
  padding: 0;
  border: none;
}

.quick-order-list__table th {
  text-align: left;
  padding-bottom: 2rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.variant-item__quantity-wrapper {
  display: flex;
}

.variant-item__totals,
.variant-item__details,
.variant-item__price {
  position: relative;
}

.variant-item__price .price,
.variant-item__totals .price {
  display: block;
}

.quick-order-list__table *.right {
  text-align: right;
}

.variant-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  height: 6.5rem;
  width: 6.5rem;
}

.variant-item__media {
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 1.2rem;
}

.variant-item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.variant-item__image {
  height: 43px;
  width: 43px;
}

.hover-effect .variant-item__image {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.hover-effect .variant-item__image:hover {
  z-index: 10;
  transform: scale(4) translate(40%, 0);;
}

@media screen and (min-width: 990px) {
  .variant-item__image {
    max-width: 100%;
  }

  .variant-item__inner .small-hide {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .variant-item:not(.variant-item--no-media) .variant-item__inner {
    display: flex;
  }

  .variant-item__discounted-prices {
    justify-content: flex-end;
  }
}

.variant-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.variant-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.variant-item__info {
  position: relative;
  padding-bottom: 0.5rem;
}

.variant-item__name {
  font-family: var(--font-body-family);
  display: block;
  font-size: 1.4rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.variant-item__sku {
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.variant-item__discounted-prices {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.variant-item__discounted-prices dd {
  margin: 0;
}

.variant-item__discounted-prices dd:first-of-type {
  margin-right: 0.8rem;
}

.variant-item__discounted-prices .variant-item__old-price {
  font-size: 1.4rem;
}

.variant-item__old-price {
  opacity: 0.7;
}

.variant-item__final-price {
  font-weight: 400;
}

.variant-item__sold-out {
  opacity: 0.7;
  font-size: 1.6rem;
  color: rgb(var(--color-foreground));
}

quick-order-list-remove-button {
  display: flex;
  margin: 0;
  align-self: center;
}

.quick-order-list__button-cancel {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
}

quick-order-list-remove-button .button {
  min-width: calc(1.5rem / var(--font-body-scale));
  min-height: 1.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

quick-order-list-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

quick-order-list-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
  transition: transform var(--duration-default) ease;
}

.variant-item .loading__spinner {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 1.5rem;
  position: absolute;
}

.variant-remove-total {
  position: relative;
  align-self: center;
}

.variant-remove-total .button--tertiary {
  width: 100%;
  margin-top: 1rem;
}

.variant-remove-total .icon-remove {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.8rem;
}

.quick-order-list__message {
  font-size: 1.2rem;
  margin-top: 1rem;
  display: block;
  text-align: right;
}

.quick-order-list__message svg {
  width: 1.2rem;
}

.quick-order-list-error {
  margin-top: 1rem;
  display: flex;
}

.quick-order-list-error svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.3rem;
  align-self: flex-start;
}

.quick-order-list-buttons .button.button--tertiary:not([disabled]):hover, 
.quick-order-list-buttons .button.button--tertiary:hover {
  padding: 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .quick-order-list-total__price .tax-note {
    text-align: right;
  }
}
@media screen and (min-width: 990px) {
  .variant-item .loading__spinner {
    padding-top: 2rem;
    bottom: auto;
  }

  .variant-item .loading__spinner--error {
    padding-top: 5rem;
  }

  .variant-remove-total .loading__spinner {
    left: 2rem;
    top: 1.2rem;
  }
}

quick-order-list-remove-button:hover .icon-remove {
  transform: scale(1.25);
}

.quick-order-list-total__info quick-order-list-remove-all-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.variant-remove-total {
  position: relative;
  align-self: center;
}

.variant-item .loading__spinner:not(.hidden) ~ *,
.variant-remove-total .loading__spinner:not(.hidden) ~ * {
  visibility: hidden;
}

.variant-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  width: min-content;
  min-width: 100%;
}

.variant-item__error-text {
  font-size: 1.2rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  order: 1;
}

.variant-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.variant-item__error-text:empty + svg {
  display: none;
}

.quick-order-list__table thead th {
  text-transform: uppercase;
}

.variant-item__image-container--no-img {
  border: 0;
}

@media screen and (max-width: 989px) {
  quick-order-list#quick-order-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .quick-order-list-total__info {
    flex-direction: column;
    align-items: center;
  }

  .variant-item__details .loading__spinner {
    left: 0;
    top: auto;
  }

  .quick-order-list__table,
  .quick-order-list__table thead,
  .quick-order-list__table tbody {
    display: block;
    width: 100%;
  }

  .quick-order-list__table thead tr {
    border-bottom: .1rem solid rgb(var(--color-base-border-1));
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .quick-order-list__container {
      padding-bottom: 0;
  }

  .variant-item {
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .variant-item--no-media {
    grid-template: repeat(2, auto) / repeat(3, auto);
  }

  .variant-item:last-child {
    margin-bottom: 0;
  }

  .variant-item__totals {
    grid-column: 5 / 3;
  }

  .variant-item--no-media .variant-item__inner ~ .variant-item__quantity {
    grid-column: 1 / 5;
  }

  .variant-item__quantity {
    grid-column: 2 / 5;
  }

  .variant-item__quantity-wrapper {
    flex-wrap: wrap;
  }

  .variant-item--no-media .variant-item__inner {
    display: none;
  }

  .variant-remove-total {
    text-align: center;
    width: 100%;
  }

  .variant-remove-total button {
    width: 100%;
  }

  .quick-order-list__message {
    text-align: center;
  }

  .quick-order-list-total__column,
  .quick-order-list-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.quick-order-list-total__confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

quick-order-list-remove-all-button button {
  width: 100%;
}

quick-order-list-remove-all-button {
  width: 100%;
  margin-bottom: 1rem;
}

quick-order-list-remove-all-button .icon-remove {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: .8rem;
}

.quick-order-list-total__confirmation span.text-body.note {
  font-size: 11px;
  margin-bottom: .5rem;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .quick-order-list__table {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .quick-order-list__table th + th {
    padding-left: 5.4rem;
  }

  .quick-order-list__table .quick-order-list__table-heading--wide + .quick-order-list__table-heading--wide {
    padding-left: 10rem;
    text-align: right;
  }

  .quick-order-list__table td {
    padding: 1.6rem 0;
  }

  .quick-order-list__table .desktop-row-error td {
    padding-top: 0;
  }

  .quick-order-list__table .desktop-row-error td {
    padding-top: 0;
  }

  .quick-order-list__table .variant-item--unit-price td {
    vertical-align: middle;
  }

  .variant-item {
    display: table-row;
  }

  .variant-item .variant-item__price {
    text-align: right;
  }

  .variant-item__info {
    width: 20rem;
    display: flex;
    padding: 0.5rem;
  }

  .quick-order-list__total-items {
    width: calc(((11rem / var(--font-body-scale) + var(--inputs-border-width) * 2)));
    flex-direction: row;
    align-items: center;
  }
}

.quick-order-list__total-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quick-order-list__total-items span,
.totals__subtotal-value {
  margin-top: 0;
  margin-bottom: 0;
}

.totals__subtotal-value {
  font-weight: 600;
}

.quick-order-list__total-items p,
.totals__subtotal {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.quick-order-list__total-items p {
  text-align: center;
}

.quick-order-list-total__info {
  display: block;
  width: 100%;
}

.quick-order-list-total__info,
.quick-order-list-total__confirmation {
  min-height: 10rem;
}

.quick-order-list-total__price {
  border-top: .1rem solid rgb(var(--color-base-border-1));
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: right;
}

.quick-order-list-total__price .button {
  margin-right: 2rem;
}

@media screen and (min-width: 990px) {
  a.quick-order-list__button.button.button--secondary.small-hide.medium-hide {
    width: 100%;
  }
  .quick-order-list__total-items {
    margin-bottom: 2rem;
    line-height: 0;
  }
  .quick-order-list__total-items span{
    font-size: 1.3rem;
    margin-right: 3px;
  }
  .quick-order-list__total-items p {
    font-size: 1.2rem;
  }
  .quick-order-list__total-items {
    justify-content: flex-end;
  }
  p.totals__subtotal {
      font-size: 1.4rem;
  }
}

@media screen and (max-width: 989px) {
  .quick-order-list-total__price {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .totals__product-total {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: .5rem;
  }

  .totals__subtotal-value,
  .quick-order-list__total-items span {
    margin-right: 1.2rem;
  }

  .quick-order-list__total-items {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .quick-order-list-total__price .button {
    margin-bottom: 2rem;
  }

  .quick-order-list-total__confirmation quick-order-list-remove-all-button button {
    margin-top: 1rem;
  }

  .quick-order-list-total__confirmation {
    flex-direction: column;
    margin-top: 2rem;
  }

  .quick-order-list__button-confirm {
    width: 100%;
    max-width: 36rem;
  }

  quick-order-list .tax-note {
    text-align: center;
    font-size: 1.2rem;
  }

  .variant-remove-total .button--tertiary {
      width: 100%;
  }
  
  quick-order-list-remove-all-button,
  .quick-order-list-total__confirmation span.text-body.note {
    margin-bottom: 0;
  }
}

quick-order-list .tax-note {
  margin: 0 0 2rem;
  display: block;
  width: 100%;
}

.quantity__input {
  color: currentColor;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0.85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

.quantity__button {
  width: calc(1.5rem / var(--font-body-scale));
  flex-shrink: 0;
  font-size: 1.8rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  padding: 0;
}

.quantity__button:first-child {
  margin-left: calc(var(--inputs-border-width));
}

.quantity__button:last-child {
  margin-right: calc(var(--inputs-border-width));
}

.quick-order-list__table .quantity-button svg {
  z-index: 1;
}