.events-calendar .banner-two-columns {
  position: relative;
}

.events-calendar .banner-section--full-width .banner {
  margin: 0;
}

.events-calendar .banner {
  margin-bottom: 1rem;
}

.events-calendar .event-item-date {
  border-top-left-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  border-bottom-right-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  font-family: var(--font-heading-family);
  font-size: calc(var(--font-heading-scale)* 1.8rem);
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(var(--color-base-accent-2));
  color: rgb(var(--color-base-text-accent-2));
}

.events-calendar .event-item-date .event-item-day {
  font-weight: 600;
  padding: 5px 10px;
}

.events-calendar .event-item-date .event-item-month {
  border-top-left-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  background-color: rgb(var(--color-base-background-accent-1));
  color: rgb(var(--color-base-accent-1));
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale)* 1.1rem);
  letter-spacing: 1px;
  font-weight: 300;
  padding: 1px 10px;
  text-transform: uppercase;
  text-align: center;
}

.events-calendar .banner-section--full-width .event-item-price {
  border-bottom-right-radius: 0;
}
.events-calendar .banner-section--full-width .event-item-date .event-item-month {
  border-top-left-radius: 0;
}

.events-calendar .event-item-date time {
  display: flex;
  flex-direction: column;
}

.event-item-top-info span.event-item-subheading {
  font-size: calc(var(--font-heading-scale)* 1.3rem);
}

.events-calendar .event-item-price {
  border-top-left-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  border-bottom-right-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  font-size: calc(var(--font-heading-scale)* 1.4rem);
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(var(--color-base-background-accent-1));
  color: rgb(var(--color-base-accent-1));
  padding: 5px;
  z-index:1;
}

.events-calendar .event-item-location {
  border-top: 1px solid rgba(var(--color-base-border-1),.5);
  font-size: calc(var(--font-heading-scale)* 1.3rem);
  padding-top: 5px;
}

.events-calendar .banner-two-columns .banner-heading {
  margin-top: 1.5rem;
}

.event-item-link .button {
  margin-bottom: 10px;
  padding: 5px 15px;
  min-height: calc(2rem + var(--buttons-border-width)* 1);
  font-size: calc(var(--font-heading-scale)* 1.3rem);
}

.event-item-link .button:hover {
  padding: 5px 17px;
}

@media screen and (min-width: 750px) {
  .events-calendar .banner-two-columns .banner--small:not(.banner--adapt) {
    min-height: 30rem;
    height: 30rem;
  }

  .events-calendar .banner-two-columns .banner--medium:not(.banner--adapt) {
    min-height: 36rem;
    height: 36rem;
  }

  .events-calendar .banner-two-columns .banner--large:not(.banner--adapt) {
    min-height: 46rem;
    height: 46rem;
  }
}
