.banner-two-columns .banner {
  display: flex;
  position: relative;
  flex-direction: column;
}

.banner-two-columns .style-two .grid-item {
  box-shadow: 8px 8px 0 rgba(var(--color-base-border-1));
  border-radius: var(--media-radius);
}

.banner-two-columns .banner-media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner-two-columns .banner--adapt,
.banner-two-columns .banner--adapt_image.banner--mobile-bottom .banner-media:not(.placeholder) {
  height: auto;
}

.banner-two-columns .banner-content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-end;
  justify-content: left;
  z-index: 2;
}

.sticky-banners .banner-two-columns .banner-content .content-container {
  border-radius: 0;
  border-bottom-left-radius: calc(var(--media-radius) - var(--media-border-width));
  border-top-right-radius: calc(var(--media-radius) - var(--media-border-width));
}

.banner-two-columns .banner-content .content-container {
  border-radius: var(--media-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow),var(--shadow-opacity));
}

.promo-row .banner-two-columns .banner-content.banner--desktop-transparent .banner-two-columns-box.content-container {
  box-shadow: none;
}

.banner-two-columns .banner-two-columns-box {
  padding: 3rem 3.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}

.banner-two-columns .promo-banners .banner-two-columns-box {
  padding: 3rem 2.5rem;
}

.banner-two-columns .banner::after,
.banner-two-columns .banner-media::after {
  content: '';
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, transparent 0, rgb(var(--color-base-opacity)) 100%);
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.promo-row .banner-two-columns .banner::after,
.promo-row .banner-two-columns .banner-media::after {
  border-radius: var(--media-radius);
}

.promo-row .banner-two-columns .banner-media {
  border-radius: var(--media-radius);
}

.banner-two-columns .banner-two-columns-box > * + .banner-text {
  margin-top: 1rem;
}

.banner-two-columns .banner-two-columns-box > * + * {
  margin-top: 1rem;
}

.banner-two-columns .banner-two-columns-box > *:first-child {
  margin-top: 0;
}

.banner-two-columns .banner-heading {
  margin: 0;
}

.banner-two-columns .banner-two-columns-box .banner-heading + * {
  margin-top: 1rem;
}

.banner-two-columns .banner-two-columns-box .image-with-text-text {
    margin-bottom: 0;
}

.banner-two-columns .banner-two-columns-box a.link.animate-arrow {
  text-decoration: none;
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all .4s ease, text-decoration 0s ease;
}

.banner-two-columns .banner-two-columns-box a.link.animate-arrow:hover {
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 100%;
}

.banner-two-columns .banner--desktop-transparent .banner-two-columns-box {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.banner-section--full-width.page-width.banner-two-columns {
  max-width: 100%;
  padding: 0;
}

.featured-collection.banner-two-columns .banner-two-columns-box {
  padding: 2rem 1.5rem;
}

.featured-collection.banner-two-columns a.button-arrow.button.button--primary {
  font-size: 14px;
  padding: 0 13px;
  min-height: calc(3rem + var(--buttons-border-width)* 2);
}

.featured-collection.banner-two-columns a.button-arrow.button.button--primary:hover {
  padding: 0 18px;
}

.featured-collection.banner-two-columns .banner-text {
  font-size: calc(var(--font-body-scale)* 1.5rem);
  line-height: 1.3;
}

.product-grid-section .banner-text p {
  font-size: calc(var(--font-body-scale)* 1.6rem);
  margin-top: 0;
}

.banner-section .banner-text {
  font-size: calc(var(--font-body-scale)* 1.6rem);
  line-height: calc(1 + .6/max(1,var(--font-heading-scale)));
  margin-top: 0;
}

.product-grid-section .banner-buttons {
  margin-top: 0;
}

.product-grid-section .banner-buttons .button {
  min-width: calc(10rem + var(--buttons-border-width)* 2);
  min-height: calc(3rem + var(--buttons-border-width)* 2);
  padding: 0 1rem;
}

.product-grid-section .banner-heading.small {
   font-size: calc(var(--font-heading-scale)* 2.8rem);
}

@media only screen and (max-width: 750px) {
  .featured-collection.banner-two-columns .banner-text {
    font-size: calc(var(--font-body-scale)* 1.2rem);
    line-height: 1.1;
  }
  .featured-collection.banner-two-columns .banner-content,
  .featured-collection.banner-two-columns .banner-two-columns-box {
    padding: 1rem .5rem;
  }
  .featured-collection.banner-two-columns .grid--2-col-tablet-down a.button-arrow.button.button--primary:hover {
    padding: 2px 8px;
  }
  .featured-collection.banner-two-columns .grid--2-col-tablet-down a.button-arrow.button.button--primary {
    font-size: 12px;
    padding: 2px 5px;
    min-width: calc(8rem + var(--buttons-border-width)* 2);
    min-height: calc(2rem + var(--buttons-border-width)* 2);
  }
  .featured-collection.banner-two-columns .grid--2-col-tablet-down a.button-arrow.button.button--primary svg {
    display: none;
  }
}


@media only screen and (max-width: 990px) {
  .banner-two-columns .banner-content.banner--desktop-transparent {
    padding: 5rem 1.5rem;
  }
  .sticky-banners .banner-two-columns slider-component {
    margin-right: 0; 
  }
  li.grid-item.promo-row.promo-layout-grid {
    margin-bottom: 10px;
  }
  .banner-two-columns .grid-item .banner-media {
    border-radius: var(--media-radius);
  }
  .banner-two-columns .grid .grid-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--grid-mobile-vertical-spacing);
  }
  .swipe-mobile-false .collection-content .grid.grid--2-col-tablet-down .grid-item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  }
  .banner-two-columns .grid {
    row-gap: 0;
  }
  .grid--2-col-tablet-down .grid-item.promo-row.promo-layout-grid {
    width: 100%;
  }
  .product-grid-section .grid--2-col-tablet-down .banner-content .caption-with-letter-spacing--medium {
    font-size: 1rem;
  }
  .product-grid-section .grid--2-col-tablet-down .banner-heading.small,
  .product-grid-section .grid--2-col-tablet-down .banner-heading.medium,
  .product-grid-section .grid--2-col-tablet-down .banner-heading.large {
    font-size: calc(var(--font-heading-scale)* 2rem);
  }
  .product-grid-section .grid--2-col-tablet-down .banner-text p,
  .product-grid-section .grid--2-col-tablet-down .button {
    font-size: calc(var(--font-body-scale)* 1.2rem);
  }
  .promo-row.promo-layout-grid .banner--desktop-transparent .banner-two-columns .banner-two-columns-box {
    padding: 0;
  }
  .banner-two-columns .promo-banners .banner--desktop-transparent .banner-two-columns-box {
    padding: 0;
  }
  .banner-two-columns .promo-banners .banner-two-columns-box {
    padding: 1rem;
  }
}

@media screen and (max-width: 749px) {
  .banner-two-columns .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner-media,
  .banner-two-columns .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner-media {
    height: 28rem;
  }

  .banner-two-columns .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner-media,
  .banner-two-columns .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner-media {
    height: 34rem;
  }

  .banner-two-columns .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner-media,
  .banner-two-columns .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner-media {
    height: 39rem;
  }

  .banner-two-columns .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner-content {
    min-height: 28rem;
  }

  .banner-two-columns .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner-content {
    min-height: 34rem;
  }

  .banner-two-columns .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner-content {
    min-height: 39rem;
  }

  .banner-two-columns .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .banner-two-columns .banner--stacked {
    height: auto;
  }

  .banner-two-columns .banner--stacked .banner-media {
    flex-direction: column;
  }

  .banner-two-columns .banner--stacked .banner-media-half {
    width: 100%;
  }

  .banner-two-columns .banner--stacked .banner-media-half + .banner-media-half {
    order: 1;
  }

  .banner-two-columns .banner--mobile-bottom .banner-media,
  .banner-two-columns .banner--stacked:not(.banner--mobile-bottom) .banner-media {
    position: relative;
  }
}

@media only screen and (min-width: 750px) {
  .banner-two-columns .banner-two-columns-box.false {
    padding: 0;
  }
}

@media screen and (min-width: 750px) {
  .banner-two-columns .banner {
    flex-direction: row;
  }

  .banner-two-columns .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }

  .banner-two-columns .banner--medium:not(.banner--adapt) {
    min-height: 56rem;
  }

  .banner-two-columns .banner--large:not(.banner--adapt) {
    min-height: 72rem;
  }

  .banner-two-columns .banner-media {
    height: 100%;
  }

  .banner-two-columns .banner--desktop-transparent .content-container:after {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .banner-two-columns .banner-two-columns-box {
    margin-left: 2rem;
  }

  .banner-two-columns .promo-banners .banner-two-columns-box {
    margin-left: 0;
  }
  
  .banner-section .banner-two-columns .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  
  .banner-section .banner-two-columns .grid-item {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  
  }
  .banner-section .banner-two-columns .banner--medium:not(.banner--adapt) {
    min-height: 100%;
    height: 26rem;
  }
  
  .banner-section .banner-two-columns .grid_one .grid-item:first-child {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .banner-section .banner-two-columns .grid_one .grid-item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1; 
  }
  
  .banner-section .banner-two-columns .grid-item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1; 
  }
  
  .banner-section .banner-two-columns .grid_one .grid-item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1
  }
  
  .banner-section .banner-two-columns .grid_one .grid-item:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_one .grid-item:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_one .grid-item:nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .banner-section .banner-two-columns .grid_three .grid-item:first-child {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_three .grid-item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_three .grid-item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .banner-section .banner-two-columns .grid_three .grid-item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_three .grid-item:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_three .grid-item:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .banner-section .banner-two-columns .grid_three .grid-item:nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .promo-layout-row .banner-two-columns .banner-content {
    padding: 5rem;
  }
  .promo-layout-row .banner-two-columns .banner-content {
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
  .promo-row.promo-layout-grid .banner-two-columns .banner-content {
    width: 100%;
  }
  .banner-two-columns .grid-item .banner-media {
    border-radius: var(--media-radius);
  }
}
