.footer.border {
  border-top: 1px solid rgba(var(--color-base-border-1));
}

.footer__content-top {
  display: block;
}

.footer .grid-item.outline {
  width: 100%;
  max-width: 100%;
}

.flag-image img {
  border-radius: 2px;
}

.footer-block-image {
  border-radius: var(--media-radius);
  padding: 0;
  text-align: center;
}

.footer-image-caption {
  padding: 2rem;
  position: relative;
  z-index: 0;
}

.footer-block-image .button-arrow.button {
  margin-top: 10px;
  font-size: 14px;
  padding: 0 1rem;
}

.footer-image-caption .rte p {
  font-size: calc(var(--font-body-scale)* 1.4rem);
}

.footer.centered .footer-block__brand-info .footer-block__image-wrapper {
  margin-bottom: 10px;
}

.footer-block__brand-info .footer-block__image-wrapper img {
  border-radius: var(--media-radius);
}

@media screen and (max-width: 990px) {
  .footer.centered .footer__blocks-wrapper {
    text-align: center;
  }
  .footer.centered .footer-block__brand-info .social-bar.list-social {
    justify-content: center;
  }
  .footer.centered .footer-block__brand-info .footer-block__image-wrapper {
    margin: 0 auto 10px auto;
  }
  .footer slider-component {
    margin-right: 0;
  }
  .footer .grid--peek.slider .grid-item:first-of-type {
    margin-left: 0;
  }
  .footer .slider.slider--tablet {
    margin-bottom: 0;
  }
  .footer .slider.slider--tablet .grid {
    row-gap: 0;
  }
  .footer .slider-buttons {
    margin-bottom: 1rem;
  }
  .footer .flag-image img {
    width: 1.4rem;
  }
  .footer .field-label {
    animation: none;
  }
  .footer .slider-buttons {
    justify-content: left;
    margin-left: -1.2rem;
  }
  .footer.centered .slider-buttons {
    justify-content: center;
  }
}


@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }

  .footer slider-component .grid {
    display: flex;
  }

  .footer-block.grid-item {
    padding: 0;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  .footer-block.grid-item:first-child {
    margin-top: 0;
  }

}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
    column-gap: calc(1* var(--grid-desktop-horizontal-spacing));
  }
}

.footer__content-bottom {
  background: rgb(var(--color-background));
  border-top: 1px solid rgba(var(--color-base-border-1));
  padding-top: 1rem;
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  width: 100%;
  align-items: center;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 749px) {
  
  .footer__column--info {
    align-items: flex-start;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

.footer-block__heading {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

.footer .rte p,
.footer-block__details-content .list-menu__item--link {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  word-break: break-word;
  margin: 0;
}

.footer .newsletter-form {
  display: block;
  max-width: 100%;
}

.footer .grid.container {
  display: block;
}

.footer .grid {
  flex-wrap: wrap;
}

@media screen and (min-width: 990px) {
  .footer .grid.container {
    display: grid;
  }
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
  .footer__copyright {
    display: flex;
    align-items: center;
  }
}

.social-bar:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.social-bar.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  margin: 10px 0 0 0;
} 

.footer .list-social {
  justify-content: flex-start;
  margin-left: -0.7rem;
}

.footer-block__newsletter .field-input {
  background: none;
  box-shadow: none;
  outline: 0;
  border: 1px solid rgba(var(--color-base-border-1));
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
}

.payment-enable-false.footer__localization {
  justify-content: right;
}

.footer__localization:empty {
  display: none;
}

.footer .localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem 0;
  margin: 0 auto;
}

.footer .localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer__localization {
  margin-bottom: -2.5rem;
}

@media screen and (min-width: 750px) {

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 989px) {
  .footer__localization noscript {
    width: 100%;
  }

  .footer__localization {
    justify-content: flex-start;
  }
}

.footer .disclosure__button {
  padding: 0;
}

@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__content-bottom-wrapper--center {
  justify-content: center;
}

.footer__copyright {
  margin-top: 1.5rem;
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
  position: relative;
  padding: 0;
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}
/**
.footer-block__details-content .list-menu__item--link,
.copyright__content a{
  color: rgba(var(--color-link));
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all .4s ease, text-decoration 0s ease;
}

.footer-block__details-content .list-menu__item--link:hover,
.copyright__content a:hover {
  background-image: linear-gradient(transparent calc( 100% - 1px ), currentColor 5px);
  background-size: 100%;
}
**/
a.list-menu__item--link::after,
.copyright__content a::after{
  content: '';
  left: 50%;
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: rgb(var(--color-base-background-accent-1), 0.4);
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

a:hover.list-menu__item--link::after,
.copyright__content:hover a::after{
  width: 100%;
  left: 0;
  padding-top: 3px;
}

.footer-block__details-content .list-menu__item--link {
  display: inline-block;
}

.footer-block__details-content > :first-child .list-menu__item--link {
  padding-top: 0;
}

.footer-block-image {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-block-image .footer-image-caption.text-overlay {
  background: rgba(var(--color-background),.85);
  position: absolute;
  padding: 20px;
  width: 80%;
  border-radius: var(--media-radius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

@media screen and (max-width: 749px) {
  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }
}

.footer-block__image-wrapper {
  margin: 0 auto 10px auto;
  overflow: hidden !important;
}

.footer-block__brand-info .footer-block__image-wrapper {
  margin: 0 0 10px 0;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block-image > img,
.footer-block__brand-info > img {
  height: auto;
}

.footer-block:only-child .footer-block__brand-info .social-bar.list-social {
  justify-content: center;
}

.footer .footer-block__brand-info .social-bar.list-social {
  justify-content: flex-start;
  margin-left: -0.7rem;
  margin-top: 20px;
}

.footer-block__details-content .placeholder-svg {
  border-radius: var(--media-radius);
}

.copyright__content {
  font-size: 1.3rem;
}

.copyright__content a {
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: '\00B7';
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}

@media screen and (min-width: 750px) {
  .policies li a {
    padding: 0;
  }
}
@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.footer .disclosure__link {
  padding: 0.95rem 3.5rem 0.95rem 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer .disclosure__link:hover {
  color: rgb(var(--color-foreground));
}

.footer .disclosure__link--active {
  text-decoration: underline;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid-item {
      padding-left: 3rem;
    }
  }
}

@media screen and (min-width: 750px) {
  .make-columns-even-true .grid--4-col-tablet .grid-item {
      width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
  }

  .make-columns-even-true .footer__blocks-wrapper.grid--4-col-tablet .grid-item:first-child {
      width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
  }

  .make-columns-even-true .grid--4-col-tablet .grid-item:last-child {
      width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
  }

  .make-columns-even-true .grid--4-col-tablet .grid-item:first-child {
      padding-right: 0;
  }
}
