.scroll-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-gallery-section .scroll-text {
  padding-top: 10px;
}

.scroll-text-border {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.scroll-text-block > span {
  display: inline-block;
  padding-left: 7rem;
  padding-right: 7rem;
}

.scroll-text-block {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-text img {
  padding-top: 10px;
}

.image-gallery-section .scroll-text img {
  border-radius: var(--media-radius);
  padding-top: 0;
}

.image-gallery-section .scroll-text-block>span {
  padding-left: 0;
  padding-right: 2rem;
}

.image-gallery-main-text {
  text-align: center;
}

.image-gallery-title {
  margin: -10px 0 20px 0;
}

.scroll-circle-decoration {
  display: flex;
  align-items: center;
}

.scroll-circle-decoration .deco {
  width: 15px;
}

.scroll-text .scroll-image-placeholder {
  width: 60px;
  height: 60px;
}


@media screen and (max-width: 998px) {
  .scroll-text-block > span {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
.scroll-text p {
  margin: 0;
  padding: 0;
}
.scroll-text .stencil-text p {
  -webkit-text-stroke: .02em currentColor;
  -webkit-text-fill-color: transparent;
}
.text-scroll-section {
  z-index: 1;
}
.scroll-text .button {
  margin-top: 1rem;
}