.two-images-text-wrapper.grid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.two-images-text-wrapper .image-with-text-media {
  min-height: initial;
}

.two-images-text-wrapper .image-with-text-media img {
  overflow: hidden;
  z-index: 0;
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
}

.two-images-text-wrapper .image-with-text-text {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.two-images-text-wrapper .placeholder-svg {
  border-radius: calc(var(--media-radius));
}

.two-images-text-wrapper .image-with-text-media--placeholder:before {
  box-shadow: none;
}

.two-images-text-wrapper .global-media-settings .placeholder-svg:after {
  box-shadow: none;
}

.two-images-text-wrapper .image-style-one.media {
    background-color: transparent;
}

.two-images-text-wrapper .image-with-text-content--middle .image-signature img {
  margin: 0 auto;
}

.two-images-text-wrapper .image-signature.overlap img {
  border-radius: 50%;
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow),var(--shadow-opacity));
  margin-bottom: -100px;
  margin-top: 40px;
  position: relative;
  width: 160px;
  height: auto;
  z-index: 2;
}

.two-images-text-wrapper .image-signature.overlap svg {
  border-radius: 50%;
  background: #fff;
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
  margin-bottom: -140px;
  margin-top: 40px;
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .two-images-text-wrapper .image-with-text-content--desktop-right {
    align-self: flex-end;
    text-align: right;
  }
  
  .two-images-text-wrapper .image-with-text-content--desktop-center {
    align-self: center;
    text-align: center;
  }
}


@media screen and (min-width: 990px) {
  .two-images-text-section--true {
    background: linear-gradient(135deg,rgb(var(--color-base-accent-2)) 55%,rgb(var(--color-background)) 55%);
  }
  .two-images-text-section--true.two-images-text-section--right {
    background: linear-gradient(135deg,rgb(var(--color-background)) 55%,rgb(var(--color-base-accent-2)) 55%);
  }
  .two-images-text-section--false .ignore-background-padding--true {
    padding-top: 0;
    padding-bottom: 0;
  }
  .two-images-text-wrapper.page-width {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .image-one-first-down {
    margin-top: 80px;
  }
  .image-two-second-down {
    margin-top: 80px;
  }
  .two-images-text-wrapper .content-container {
    margin-bottom: 2rem;
  }
  .two-images-text-wrapper .image-signature {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .two-images-text-wrapper .image-with-text-content--middle .image-signature img {
    max-width: 200px;
    height: auto;
  }
  .two-images-text-wrapper .image-with-text-content--middle .image-signature.overlap img {
    margin-bottom: -80px;
    max-width: 120px;
    margin-top: 10px;
  }
  .two-images-text-section-mobile--true {
    background: linear-gradient(135deg,rgb(var(--color-base-accent-2)) 55%,rgb(var(--color-background)) 55%);
  }
  .two-images-text-section-mobile--false .ignore-background-padding-mobile--true {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .two-images-text-wrapper .image-with-text-text--caption:first-child {
    margin-top: 20px;
  }
  .two-images-text-wrapper .grid-item {
    width: 100%;
    max-width: 100%;
  }
  .two-images-text-wrapper .content-container {
    padding: 20px 0;
  }
  .two-images-text-wrapper.image-with-text-grid--reverse .content-container {
    padding: 0 0 30px 0;
  }
  .image-with-text-grid--reverse.mobile-image-with-text-grid--reverse,
  .mobile-image-with-text-grid--reverse {
    flex-direction: column-reverse;
  }
  .mobile-image-with-text-grid--reverse .image-with-text-text-item {
    margin-top: 4rem;
  }
  .two-images-text-wrapper .image-with-text-media--placeholder>svg {
    height: 20rem;
  }
}