.slick-main {
  margin: 0 auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

/* Slider Style
  --------------------------------------*/
slick-slider {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  display: block;
  margin-bottom: 8rem;
}

slick-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 1s;
  will-change: visibility;
}

.slick-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  clip: rect(0, 100rem, 50rem, 100rem);
  transition: clip 0.6s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.4s;
  will-change: clip;
}

.slick-main.page-width .slick-image,
.slick-main.page-width slick-slider {
  border-radius: var(--media-radius);
}

.slick-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 3.5rem 2rem 2rem;
  text-align: right;
}

.slick-content h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(-30%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  will-change: transform, opacity;
  margin: 0;
}

.slick-content-link {
  width: 100%;
  display: inline-block;
}

.slick-content a {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: lowercase;
  opacity: 0;
  transition: opacity 0.5s 0.1s;
  will-change: opacity;
}

.slick-content a {
  text-decoration: none;
  position: relative;
}

.slick-content a:after {
  content: "";
  left: 50%;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(var(--color-base-background-accent-1), .4);
  transition: width .4s ease-in-out, left .4s ease-in-out;
}

.slick-content a.button:after {
  display: none;
}

.slick-content a:hover:after {
  width: 100%;
  left: 0;
  padding-top: 3px;
}

.slick-caption {
  float: right;
  max-width: 26%;
  opacity: 0;
  padding-top: 1.5rem;
  transform: translateX(-50%);
  transition: transform 0.6s 0.1s, opacity 0.5s 0.1s;
  will-change: transform, opacity;
}

/* Current Slide
  -------------------------------------*/
li.current {
  visibility: visible;
  transition-delay: 0s;
}

li.current .slick-image {
  clip: rect(0, 100rem, 50rem, 0);
}

li.current .slick-content h2 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}

li.current .slick-content a {
  opacity: 1;
  transition-delay: 1.1s;
}

li.current .slick-caption {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 1.2s;
}

/* Prev Slide
  ------------------------------------*/
li.prev_slide .slick-image {
  clip: rect(0, 0, 50rem, 0);
}

slick-slider slick-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding-right: 3.5rem;
}

.prev,
.next,
.slick-counter {
  vertical-align: middle;
}

.prev,
.next {
  position: relative;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.prev::before,
.next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 0.8rem solid transparent;
  border-right-width: 1rem;
  border-right-color: rgb(var(--color-foreground));
  border-left-width: 0;
  width: 0;
  height: 0;
}

.prev::after,
.next::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
  left: 0.5rem;
  background: rgb(var(--color-foreground));
  height: 0.1rem;
  min-height: 1px;
  width: 2.5rem;
  transition: width 0.3s;
}

.next::before {
  right: 0;
  left: auto;
  border-left-width: 1rem;
  border-left-color: rgb(var(--color-foreground));
  border-right-width: 0;
}

.next::after {
  right: 0.5rem;
  left: auto;
}

.slick-counter {
  display: inline-block;
  font-size: 4rem;
  font-family: serif;
  font-style: italic;
}

.slick-counter span:last-child::before {
  content: "/";
  margin: 0 1rem;
}

.prev:hover::after,
.next:hover::after {
  width: 3.5rem;
}

@media screen and (max-width: 768px) {
  .slick-image {
    width: 100%;
  }
  .slick-content {
    padding-right: 2rem;
  }
  slick-nav {
    padding: 0 15px;
    right: 0;
  }
  .overlay-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
}
